<div id ="User_Details">
	<div class = "container">
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @user.name %><br />
		  <strong>Altitude:</strong>
		  <%= @user_place.map { |e| e.height  } %><br />
		  

		</p>

		<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-myBlue" %> 
		<%= link_to 'Back', users_path, :class => "btn btn-myGrey" %>
	</div>


</div>