
<head>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
</head>

<h3>Event Details</h3></br>
  <h4>Event Name:</h4>
  <%= @currentEvent %></br>
  <h4>Event Coordinates </h4>
  <%= @currentEventCoord %>
</br>

<h3>First User Details </h3>
<%= @neighbours_coord %>

<h3>Present Users</h3>
<%= @present%>

<h3>Present Length</h3>
<%= @present.length%>


<h3>Boundary Users</h3>
<%= @boundary %>



<%= @boundary%>

<h3>@Present</h3>
<%= @f = @present.map{|d| d.reverse}%>
<%= @f = @f.map{|lat, long| {lat: lat, lng: long} }%>

<h3>Boundar Hash</h3>

<% @c = @boundary.map{|d| d.reverse}%>

<%= @c = @c.map{|lat, long| {lat: lat, lng: long}} %>









<!-- <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> -->

// <script type="text/javascript">
	
// handler = Gmaps.build('Google');
// handler.buildMap({ internal: {id: 'map'}}, function(){
//   markers = handler.addMarkers([
//     {
//       lat: 0,
//       lng: 0,
//       picture: {
//         url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
//         width:  36,
//         height: 36
//       },
//       infowindow: "hello!"
//     }
//   ]);
// });
// </script>

<div style='width: 800px;'>
  <div id="multi_overlays" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
// var myData = <%= raw json_escape(@fakeData.to_json) %>;
var myData = <%= @c.to_json.html_safe %>


	var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_overlays'}}, function(){


  var polygons = handler.addPolygons(
    [
    myData
       // [
       //  // { lat: 53.352475, lng: -6.228275}, 
       //  // { lat: 53.352480, lng: -6.228277}, 
       //  // { lat: 53.352847, lng: -6.228101}
       //  {lat: 53.353762, lng: -6.227431}, 
       //  {lat: 53.353584, lng: -6.227012}, 
         
       //  {lat: 53.353318, lng: -6.227357},
       //  {lat: 53.353546, lng: -6.227901},
       //  {lat: 53.353762, lng: -6.227431}
       //  ]
    ],
    { strokeColor: '#FF0000'}
  );

  // handler.bounds.extendWith(polylines);
  handler.bounds.extendWith(polygons);
  // handler.bounds.extendWith(circles);
  handler.fitMapToBounds();
});
</script>

